html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}
:root {
  --primary-font: "Arial", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #1e293b;
  --secondary-color: #ef6f7f;
  --secondary-color-light: #e898a6;
  --headline-color: #f7f7f9;
  --main-color: #ffffff;
  /* Above color is fully white */
  --tertiary-color: #4fc194;
  --ternary-color: #999fbb;
  --ternary-color-light: rgb(153, 159, 187, 0.85);
  --slate: #cbd5e1;
  --slate-200: #e2e8f0;
}

input,
textarea,
select {
  all: unset; /* Reset all inherited styles */
  box-sizing: border-box; /* Ensure padding and border are included in width and height */
  width: 100%; /* Default width to full container */
  display: inline-block; /* Standard inline-block behavior */
}

select:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

p,
button {
  font-family: var(--primary-font);
  color: var(--primary-color);
}
label {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 2rem;
}
body {
  background-color: var(--slate-200);
  overflow-y: hidden;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import "tailwindcss/components";

input[type="date"],
select,
input[type="text"],
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-btn {
  @apply bg-primary hover:bg-gray-700 text-white py-2 px-6 rounded-full;
}
.app-side-li {
  @apply hover:bg-primary px-3 py-0.5 hover:rounded-full hover:text-white;
}
.app-nav-li {
  @apply flex items-center gap-4 hover:bg-main px-3 py-0.5 hover:rounded-full hover:text-primary;
}
.app-pink-btn {
  @apply bg-secondary text-headline py-0.5 lg:p-2 rounded-lg lg:text-xl w-24 text-center mt-2 lg:mt-6;
}
.app-radio-style-disabled {
  @apply bg-transparent border-none appearance-none;
}
input[type="radio"]:checked + label {
  background-color: var(--tertiary-color);
  color: var(--main-color);
}

/* Bar Code Styling */
.barcode {
  left: 50%;
  box-shadow: 1px 0 0 1px, 5px 0 0 1px, 10px 0 0 1px, 11px 0 0 1px, 15px 0 0 1px,
    18px 0 0 1px, 22px 0 0 1px, 23px 0 0 1px, 26px 0 0 1px, 30px 0 0 1px,
    35px 0 0 1px, 37px 0 0 1px, 41px 0 0 1px, 44px 0 0 1px, 47px 0 0 1px,
    51px 0 0 1px, 56px 0 0 1px, 59px 0 0 1px, 64px 0 0 1px, 68px 0 0 1px,
    72px 0 0 1px, 74px 0 0 1px, 77px 0 0 1px, 81px 0 0 1px, 85px 0 0 1px,
    88px 0 0 1px, 92px 0 0 1px, 95px 0 0 1px, 96px 0 0 1px, 97px 0 0 1px,
    101px 0 0 1px, 105px 0 0 1px, 109px 0 0 1px, 110px 0 0 1px, 113px 0 0 1px,
    116px 0 0 1px, 120px 0 0 1px, 123px 0 0 1px, 127px 0 0 1px, 130px 0 0 1px,
    131px 0 0 1px, 134px 0 0 1px, 135px 0 0 1px, 138px 0 0 1px, 141px 0 0 1px,
    144px 0 0 1px, 147px 0 0 1px, 148px 0 0 1px, 151px 0 0 1px, 155px 0 0 1px,
    158px 0 0 1px, 162px 0 0 1px, 165px 0 0 1px, 168px 0 0 1px, 173px 0 0 1px,
    176px 0 0 1px, 177px 0 0 1px, 180px 0 0 1px;
  display: inline-block;
  transform: translateX(-90px);
}
